.employee-registration-container,
.vehicle-registration-container,
.pass-container,
.employee-profile-container{
	margin: 0 auto;
    width: 500px;
    margin-top: 60px;
}
.employee-profile-inner-container h1,
.vehicle-Price-div h1,
.add-employee h1,
.add-vehicle-form h1 {
	text-align: center;
    font-style: oblique;
}
.employee-profile-inner-container,
.vehicle-Price-div,
.add-employee,
.add-vehicle-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    height: 550px;
}
    
.parking-system form.employee-details-form {
    margin-left: 250px;
}
.login-account{
	margin-left: 30%;
}  
label.form-label{
    font-size: 20px;
    margin-left: 20px;
    padding: 12px 12px 12px 0;
    width: 162px;
    display: inline-block;
}

form textarea {
    height: 50px;
    margin-left: 20px;
    width: 360px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

form label+input {
    margin-bottom: 20px;
}

.form-label-input-container .input-data .form-control-contact {
    width: 156px;
}
.form-label-input-container .input-data .form-control-organization,
.form-control-vehicle-type {
    width: 210px;
}
.add-employee input[type=submit],
.add-vehicle-form input[type=submit] {
    background-color: #4CAF50;
    padding: 12px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 30px;
}
.vehicle-Price-div button[type=submit]{
    background-color: #4CAF50;
    padding: 12px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}


input[type=submit]:hover {
    background-color: #45a049;
}

.error-message {
    float: right;
    color: red;
}
input[type=text].form-control,
input[type=password].form-control,
select.form-control{
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.employee-registration-container a,
.vehicle-registration-container a,
.pass-container a{
    border: 2px solid black;
    padding: 5px 18px;
    background-color: black;
    color: white;
    text-decoration: none;
}
.disable-field{
	background-color: #e0d5d5;
}