table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
}

table a,
.employee-profile-container a {
    border: 2px solid black;
    padding: 5px 18px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.no-data {
    text-align: center;
}
.employee-profile-container a